/* general ----------------------------------------------- */

body {
  color: #333E50;
}

a {
  color: #1b6ada;
}

a:focus, a:hover {
  color: #1b6ada;
  text-decoration: underline;
}

.h1, .h2, .h3, h1, h2, h3{
  color: #5c677e;
}

.btn-primary {
    color: #ccdef6;
    background-color: #4b8add;
    border-color: #4b8add;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus{

    color: #fff;
    background-color: #4b8add;
    border-color: #4b8add;
}

.navbar {
  background-color: #4b8add;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px 5px rgba(0,0,0,.15);
  border: none;
  min-height: 40px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #1b6ada;
    background-color: #fff;
}

.dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #1b6ada;
    background-color: #fff;
}

.co {color: #474747;} /* comment */

.navbar a {
  font-size: 14px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.navbar .navbar-brand {
  color: #ccdef6;
  font-size: 24px;
  line-height: 26px;
  margin-right: -100px;
}

.version.label.label-default.version-default {
   background-color: #dfe3eb;
    color: #5c677e;
    margin-bottom: 3px;
    font-size: 100%;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ccdef6;
}

.navbar .navbar-brand:hover {
  color: #fff;
}

.navbar .info {
  width: 140px;
  margin-left: 5px;
  background-color: #4b8add;
}

.navbar-default .navbar-nav > li > a{
  color: #ccdef6;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  background-color: #dfe3eb;
  color: #5c677e;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #fff;
}

/* sidebar ----------------------------------------------- */

#sidebar {
  color: #5c677e;
}

/* reference navbar ----------------------------------------------- */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #4b8add;
}

#sidebar .nav > li {
  padding: 0 0 0 20px;
  display: list-item;
  line-height: 15px;
}

#hexlogo {
  height: 40px;
  float: left;
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .navbar, #hexlogo {
    height: 30px;
  }
  .navbar .navbar-brand {
    line-height: 19px;
  }
  .navbar .navbar-form {
    margin: 3px 5px 3px 5px;
  }
}

@media screen and (max-width: 480px) {
  .navbar .navbar-brand {
    padding-left: 5px;
    padding-right: 0;
    margin-right: -120px;
  }
}

/* Everything below here is used for the footer */

:root {
  font-size: 18px;
}

/* Position hack to get full width footer even though pkgdown puts it inside a container
 * See: https://css-tricks.com/full-width-containers-limited-width-parents/
 */

footer {
  background-color: #4b8add;
  font-size: .875rem;
  color: #ccdef6;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 22px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

footer img {
  width: 100px;
}

footer .icon {
  width: 20%;
  font-size: 1.2rem;
  margin-top: 9px;
}

footer h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75rem;
  margin-bottom: 10px;
}

footer ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

footer ul li {
  line-height: 1.4rem;
}

footer ul li a {
  text-decoration: none;
  color: #aac9f3;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer a {
  color: #ccdef6;
}

footer p {
  font-size: inherit;
  line-height: 1.6rem;
}

.top-4 {
  margin-top: 20px;
}

.bottom-8 {
  margin-bottom: 40px;
}
